body {
    margin: 0;
    color: #f0f0f0;
}

.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-xStart-yCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.column-xStart-yCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-footer-pad {
    width: 100vw;
    box-sizing: border-box;
    padding: 2%;
}
